<!DOCTYPE html>
<html ng-app="example">

<head>
    <meta charset="utf-8" />
    <title>lx-angular-alert</title>
    <script>document.write('<base href="' + document.location + '" />');</script>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="bower_components/angular/angular.min.js"></script>
    <!--<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.js"></script>
    <script src="lx-angular-alert.js"></script>
    <script src="app.js"></script>
</head>

<body ng-controller="DemoCtrl">
<h1>Demo</h1>
<lx-alert service="lxAlert" on-show="showAlert()"></lx-alert>
<div class='btn-group'>
    <button class='btn btn-default' ng-click="showAlert('info')">Info-Alert</button>
    <button class='btn btn-default' ng-click="showAlert('success')">Success-Alert</button>
    <button class='btn btn-default' ng-click="showAlert('warning')">Warning-Alert</button>
    <button class='btn btn-default' ng-click="showAlert('danger')">Danger-Alert</button>
</div>
</body>
</html>